# Исключаем временные файлы и системные файлы
.git
.gitignore
*.log
*.tmp

# Исключаем директории с зависимостями (если они не нужны в образе)
node_modules
vendor
dist

# Исключаем файлы конфигурации, содержащие чувствительные данные
.env
*.env
*.secret

# Исключаем IDE-специфичные файлы
.vscode/
.idea/

# Исключаем бинарные файлы или артефакты сборки
*.exe
*.dll
*.so
*.a

# Исключаем файлы операционной системы
.DS_Store
Thumbs.db

# Исключаем тестовые файлы (если они не нужны в финальном образе)
tests/
__tests__/
*.test.js
*.spec.js

# Исключаем документацию (если она не нужна в образе)
docs/
README.md
LICENSE

# Файлы БД sqlite
db.sqlite3